{% extends "themes/base_visitor.html.twig" %}

{% block title %}Catalogue des produits{% endblock %}

{% block description %}
   Catalogue des produits: Cuiseur de riz, Machine à laver etc...
{% endblock %}

{% block keywords %}
    ElectroTech, Catalogue des produits électroménager, cuiseur de riz , machine à laver
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des produits</h1>
{% endblock %}