{% extends "themes/base_visitor.html.twig" %}

{% block title %}Qui sommes-nous{% endblock %}

{% block description %}
   Spéciaste dans la vente e-commerce sur les produits électroménagers
{% endblock %}

{% block keywords %}
    ElectroTech, Qui sommes-nous, Catalogue des produits électroménager, cuiseur de riz , machine à laver
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Qui sommes-nous?</h1>
{% endblock %}