{% extends "themes/base_visitor.html.twig" %}

{% block title %}Cuiseur de riz, machine à laver{% endblock %}

{% block description %}
    Achat et ventre en ligne parmi des millions de produits en stock.
    Livraison gratuite.
    Vos articles à petits prix : culture, high-tech, mode, jouets, sport, maison et bien plus !
{% endblock %}

{% block keywords %}
    ElectroTech, Produits électroménager, cuiseur de riz , machine à laver
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello World!!</h1>
{% endblock %}